<!DOCTYPE html>
<html>
    <title>Flask Dojo Home></title>
    <head>
        <h1 align='middle'>Flask Dojo Home<h1>
    </head>
    <body>
        <form align='middle' action='/request-counter' method='GET'>
            <input align='middle' formaction='/request-counter' type='submit' class='button' name='get_button' value='Get'></input>
        </form>
        <form align='middle' action='/request-counter' method='POST'>
            <input formaction='/request-counter' type='submit' class='button' name='post_button' value='Post'></input>
        </form>
    </body>
</html>
